.container-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-cabecalho h1{
    padding: 1.5rem;
}
.container-cabecalho .container-user{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: .5rem;
}
.container-cabecalho .container-user svg{
    width: 30px;
    height: 30px;
}